<form method="POST" id='work_form' action="/standardFunc">
{% include "MM/UIOptions.html" %}
<input name="element_name" value={{uiElementName}} hidden/>
<input name="element_type" value="Section" hidden/>
<!--<input name="fun_name" value="UISave" hidden/>-->
<div class="Dtab body fit100" id={{uiElementName}}>
  <fieldset class="fldset fit100" id='TopFieldSetID' data-edit="merge">
  <legend class="fldset" data-edit="remove"> Dragable Area</legend>
  <div class="dragSpace"
     ondrop="drop(event)" ondragover="allowDrop(event)"
     ondragleave=""
     ondragstart=""
     ondragend=""
     id="MainDragLayout" data-edit="merge">

  </div>

</fieldset>
<div id="divHighlight" style="">

</div>

</div>
</form>