<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="popup">
    <div id="topbar"> Please select one option</div>
    <div id="content">
        <div class="radio">
          <label><input type="radio" id="layoutOption" name="optradio" value="single" checked>Single Column Layout</label>
        </div>
        <div class="radio">
          <label><input type="radio" id="layoutOption" name="optradio" value="double">Double Column Layout</label>
        </div>
        <div class="radio">
          <label><input type="radio" id="layoutOption" name="optradio" value="triple">Triple Column Layout</label>
        </div>
        <input type="button" id="ok" value="OK"/>
    </div>

    </div>

    <div id="Header_popup" class="popup">
    <div id="Header_topbar" class="pop_topbar"> Please select one option</div>
    <div id="Header_content" class="pop_content">
        <div class="radio">
          <label><input type="radio" id="H1" name="optradio" value="H1" checked>H1</label>
        </div>
        <div class="radio">
          <label><input type="radio" id="H2" name="optradio" value="H2" >H2</label>
        </div>
        <div class="radio">
          <label><input type="radio" id="H3" name="optradio" value="H3" >H3</label>
        </div>
        <div class="radio">
          <label><input type="radio" id="H4" name="optradio" value="H4" >H4</label>
        </div>
        <div class="radio">
          <label><input type="radio" id="H5" name="optradio" value="H5" >H5</label>
        </div>
        <div class="radio">
          <label><input type="radio" id="H6" name="optradio" value="H6" >H6</label>
        </div>
        <input type="button" id="Header_ok" value="OK" />
    </div>

    </div>


  </body>
</html>
</title>
</head>
<body>

</body>
</html>