<html>
 <head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="static/css/Portal.css" rel="stylesheet"/>
 </head>
 <body>
  <div class="Dtab body fit100" id="Sample">
   <div class="container-fluid jumbotron" data-controlset='{"controlType": "layout", "layout_class": "container-fluid jumbotron", "UIElement": "MM/UI_Settings_layout.html", "id": "layout_kmv1wcrza", "layout_style": ""}' data-edit="regenerate" data-select="layout" id="layout_kmv1wcrza" style="">
    <div class="row" data-layout="row" id="row_auyd94r8a">
     <div class="col-md-6" style="text-align:center">
      <label class="" style="">
       {{ "Hello" }}
      </label>
     </div>
     <div class="col-md-6" style="">
      <label class="" for="name" style="">
       {{ EnterName }}
       <input class="" name="name" style="" value="{{name}}"/>
      </label>
     </div>
     <div class="col-md-6" style="">
      <input class="" onclick="" style="" type="button" value="Submit"/>
     </div>
    </div>
   </div>
   <div id="divHighlight" style="">
   </div>
  </div>
 </body>
</html>