<html>
 <head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="static/css/Portal.css" rel="stylesheet"/>
 </head>
 <body>
  <div class="Dtab body fit100" id="Sample4">
   <div class="container-fluid" data-controlset='{"controlType":"layout","layout_style":"","layout_class":"container-fluid"}' data-edit="regenerate" data-select="layout" id="layout_3zyrlcxnw" style="">
    <div class="row" data-layout="row" id="row_ay9g2192v">
     <div class="col-md-6" style="">
      <label class="" for="appName" style="">
       {{ "Enter App Name:" }}
       <input class="" name="appName" style="" value="{{appName}}"/>
      </label>
     </div>
    </div>
   </div>
   <div id="divHighlight" style="">
   </div>
  </div>
 </body>
</html>