<form method="POST" id='label_settings_form' action="/UIInclude">
	<div id="button_options" class="panel-group">
    <div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#button_options" href="#button_PropertyPanel">Button Panel</a>

		</h4>
	</div>

	<div id="button_PropertyPanel" class="panel-collapse collapse">
		<input name="id" value={{id}} hidden/>
		<!--<input name="response" value={{response}} hidden/>-->
        <input name="UIElement" value={{UIElement}} hidden/>
	    <label >Value: <input type="text" name='button_property_value' data-type="Value" value="{{button_property_value}}"></label><br>
		<label >Class: <input type="text" name='button_property_class' data-type="Class" value="{{button_property_class}}"></label><br>
		<label >Style: <input type="text" name='button_property_style' data-type="Style" value="{{button_property_style}}"></label><br>
        <label>On click:<input type="text" name='button_property_click' data-type="click" value="{{button_property_style}}"></label>
	</div>
	</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#button_options" href="#button_ColumnPanel">Column Panel</a>
			</h4>
			</div>
			<div id="button_ColumnPanel" class="panel-collapse collapse">
	    <label >Class: <input type="text" name='column_class' data-type="Class" value="{{column_class}}"></label><br>
		<label >Style: <input type="text" name='column_style' data-type="Style" value="{{column_style}}"></label><br>
	</div>
		</div>

        <input type="submit" value="Save" class="btn btn-primary">
</div>

</form>
