<div>
    <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-right sideways">
            <li class="active"><a href="#Options-u" data-toggle="tab" id="AppList">Options</a></li>
            <li><a href="#Settings-u" data-toggle="tab">Settings</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="Options-u">
              <div class="Dtab header">
                <h4>Controls</h4>
              </div>
              <div>
                <ul class="nav nav-tabs nav-stacked">
                  <li id="Button" draggable="true" ondragstart="drag(event)" data-type="dButton"><a>Button</a></li>
                  <li id="Paragraph" draggable="true" ondragstart="drag(event)" data-type="dParagraph"><a>Paragraph</a></li>
                  <li id="dEColumn" draggable="true" ondragstart="drag(event)" data-type="dEColumn"><a>Empty Column</a></li>
                  <li id="dHeader" draggable="true" ondragstart="drag(event)" data-type="dHeader"><a>Headings</a></li>
                  <li id="TextInput" draggable="true" ondragstart="drag(event)" data-type="dInput"><a>Text input</a></li>
                  <li id="UILable" draggable="true" ondragstart="drag(event)" data-type="dLable"><a>label</a></li>
                  <li id="Menu" draggable="true" ondragstart="drag(event)" data-type="dMenu"><a>Menu</a></li>
                  <li id="Layout" ondragstart="drag(event)" draggable="true" data-type="dLayout"><a>Layout</a></li>
                </ul>
              </div>
            </div>
            <div class="tab-pane" id="Settings-u"><div class="Dtab header">
              <div class="Dtab header">
                <h4>Options</h4>
               </div>
              </div>
              <div class="Dtab body" >
                <div id='OptionsID'>
                  <!--<label for="nameID"> Name <input class="width100" id="nameID" type="text" name="" value=""/> </label>
                  <label for="valueID"> Value <input class="width100" id="valueID" type="text" name="" value=""/> </label>
                  <label for="classID"> Class <input class="width100" id="classID" type="text" name="" value=""/> </label>
                  <label for="styleID"> Style <textarea class="width100" id="styleID" name="" value=""></textarea> </label>
                  <label for="textID"> Text Value <textarea class="width100" id="textID" name="" value=""></textarea> </label>-->
                </div>


              </div>
            </div>
          </div>
</div>
