<!--<div>
  <input type="hidden" id='tempPreview' data-preview=''/>
</div>
<!--<ul class="nav nav-pills">
  <li> <label for="male">Male :</label> <input type="input" name="gender" id="male" value="male" readonly> </li>

  <li><a href="#" id='UIpreview'>Preview</a> </li>
  <li><a href="#" id='UISave'>Save</a> </li>
</ul>-->

<div class="container-fluid" data-controlset='{"controlType":"layout","UIElement":"MM/UI_Settings_layout.html","id":"layout_ilx4w1kyz","layout_class":"container-fluid","layout_style":"background-color:#eee"}' data-edit="regenerate" data-select="layout" id="layout_ilx4w1kyz" style="background-color:#eee">
   <div class="row" data-layout="row" id="row_bynvasebf">
    <div class="col-md-2" style="text-align:right">
     <label class="" style="">
      {{ "Element Name:" }}
     </label>
    </div>
    <div class="col-md-8" style="">
     <label class="" style="">
      {{ uiElementName }}
     </label>
    </div>
    <div class="col-md-1" style="text-align:right">
     <input class="" style="" data-fun='UI_Preview' type="Submit" id='UIPreview' value="Preview"/>
    </div>
    <div class="col-md-1" style="text-align:right">
     <!--<input class="" onclick="" style="" type="button" id="UISave" value="Save"/>-->
     <input class="" data-fun='UISave' style="" id="ElementSave" type="Submit"  value="Save"/>
    </div>

   </div>
  </div>