<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   Preview
  </title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </script>
  <script src="static/js/Portal.js" type="text/javascript">
  </script>
  <link href="static/css/Portal.css" rel="stylesheet"/>
 </head>
 <body>
  <div id="previewID">
<html>
 <body>
  <div class="container-fluid" data-controlset='{"controlType":"layout","UIElement":"MM/UI_Settings_layout.html","id":"layout_ilx4w1kyz","layout_class":"container-fluid","layout_style":"background-color:#eee"}' data-edit="regenerate" data-select="layout" id="layout_ilx4w1kyz" style="background-color:#eee">
   <div class="row" data-layout="row" id="row_bynvasebf">
    <div class="col-md-3" style="text-align:right">
     <label class="" style="">
      {{ "Element Name:" }}
     </label>
    </div>
    <div class="col-md-5" style="">
     <label class="" style="">
      {{ uiElementName }}
     </label>
    </div>
    <div class="col-md-2" style="text-align:right">
     <input class="" onclick="" style="" type="button" value="Preview"/>
    </div>
    <div class="col-md-2" style="text-align:right">
     <input class="" onclick="" style="" type="button" value="Save"/>
    </div>
   </div>
  </div>
 </body>
</html>
  </div>
 </body>
</html>