<div>
    <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-right sideways">
            <li class="active"><a href="#home-r" data-toggle="tab" id="AppList">App</a></li>
            <li><a href="#profile-r" data-toggle="tab">UI Options</a></li>
            <li><a href="#messages-r" data-toggle="tab">Messages</a></li>
            <li><a href="#settings-r" data-toggle="tab">Settings</a></li>
          </ul>
    <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="home-r">{% include "MM/AppTab_MPM.html" %}</div>
            <div class="tab-pane" id="profile-r">{% include "MM/UI_Settings_MPM.html" %}</div>
            <div class="tab-pane" id="messages-r">Messages Tab.</div>
            <div class="tab-pane" id="settings-r">Settings Tab.</div>
          </div>
</div>




